<html>
    <head>
        <title>Express Project</title>
        <link rel="stylesheet" href="css/style.css"/>

    </head>
    <body>
        <h2 class="hedt1">{{title}} page content </h2>
        <div class="header1">
            <a href="/">Home</a>
            <a href="/service">SERVICE</a>
            <a href="team">TEAM</a>
        </div>    
    </body>
</html>